.r-logo-imagen{
    margin-top: 30px;
    height: 21.88%;
    width: 21.74%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.r-logo-nombre{
    margin-top: 2.25%;
    color: #464646;
    font-weight: bold;
    text-align: center;
    font-size: 50px;
}

.r-form-container{
    margin-top: 30px;
    display:flex;
    justify-content: center;
    text-align: center;
}

.r-form-user{
    font-size: 20px;
    border: 3px solid #464646;
    width: 246px;
    border-radius: 20px;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 59px;
    margin-bottom: 15px;
    display: block;
    transition: 0.3s border;
}

.r-form-mail{
    font-size: 20px;
    border: 3px solid #464646;
    width: 246px;
    border-radius: 20px;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 59px;
    margin-bottom: 15px;
    display: block;
    transition: 0.3s border;
}


.r-form-password{
    font-size: 20px;
    border: 3px solid #464646;
    width: 246px;
    border-radius: 20px;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 59px;
    margin-bottom: 2.25%;
    display: block;
    transition: 0.3s border;
}

.r-form-user:focus, .r-form-mail:focus, .r-form-password:focus{
    border: 6px solid #72C8F1;
}

.r-form-submit{
    background-color: #72C8F1;
    margin-top: 20px;
    width: 246px;
    border: none;
    border-radius: 20px;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 59px;
    margin-bottom: 2.25%;
    transition: 0.3s background-color;

}

.r-form-submit:hover{
    background-color: #2ebdff;
}

.r-form-submit-button-text{
    color: #464646;
    font-size: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s font-size;
}

.r-form-submit-button-text:hover{
    font-size: 21px;
}

.r-p-registro{
    text-align: center;
    font-size: 10px;
    margin-bottom: 30px;
}

.r-ingresa{
    text-align: center;
    font-size: 10px;
}

.r-ingresa:hover, .r-form-submit:hover{
    cursor: pointer;
}

.r-p-registro{
    text-align: center;
    font-size: 10px;
    margin-bottom: 30px;
}

.r-p-registro-link{
    transition: 0.3s color;
}

.r-p-registro-link:hover{
    color: #72C8F1;
}