@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}

.App{
  margin-left: 23px;
  margin-right: 23px;
}

p, div{
  margin: 0;
  padding: 0;
}

a{
  color: #464646;
  text-decoration: none;
}

p{
      color: #464646;
}